<%=
  # Add non-breaking space to prevent widows
  splitted = text.split(" ")
  last_two = splitted.pop(2)

  (splitted + ["<span style=\"white-space: nowrap\">#{last_two.join(" ")}</span>"]).join(" ").html_safe
%>
<div style="margin-top: 30px">
  <% if @user.nil? %>
    <%= link_to "/login", class: "hero_custom_btn" do %>Hire Talent<% end %>
    <%= link_to "signup", class: "hero_custom_btn" do %>Find Jobs<% end %>
  <% else %>
    <%= link_to "listings/new", class: "hero_custom_btn" do %>Hire Talent<% end %>
    <%= link_to "/s", class: "hero_custom_btn" do %>Find Jobs<% end %>
  <% end %>
</div>
